@import "../../variables";

.tour-type-container {
  color: $secondary-font-gray;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  user-select: none;

  .tour-type-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    input[type="radio"] {
      cursor: pointer;

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid $primary-bg-orange77;
      will-change: border;

      &:checked {
        border: 5px solid $primary-bg-orange;
      }
    }

    label {
      cursor: pointer;
    }
  }
}

.form-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 4px;

  .form-item {
    color: $secondary-font-gray;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-width: 30%;
    position: relative;

    &:nth-child(7) {
      grid-column: span 3;
    }

    label {
      position: absolute;
      top: 4px;
      left: 12px;
      text-transform: uppercase;
      z-index: 5;
    }

    input,
    select {
      background-color: transparent;
      color: $secondary-font-gray;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 30px 12px 20px 12px;
      border-radius: 6px;
      border: 2px solid $primary-bg-orange33;
      outline-color: $primary-bg-orange;
      z-index: 10;

      &:focus {
        // border-color: $primary-bg-orange;
        outline-color: $primary-bg-orange33;
        background-color: $primary-bg-orange11;
      }

      &::placeholder {
        opacity: 0.5;
        transition: all 150ms linear;
      }

      &:focus::placeholder {
        translate: 0 20px;
        opacity: 0;
      }
    }

    select {
      padding: 30px 12px 20px 8px;
    }
  }
}
